<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dli_viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dli_viewer.Properties.Settings>
            <setting name="DownloadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="formatString" serializeAs="String">
                <value />
            </setting>
            <setting name="startPageNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndPageNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overwriteExistingFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\dli</value>
            </setting>
            <setting name="searchTerm" serializeAs="String">
                <value />
            </setting>
            <setting name="DLISearchLanguage" serializeAs="String">
                <value>Digital Library of India Search</value>
            </setting>
            <setting name="OpenPDFAfterCreation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedNotes" serializeAs="String">
                <value />
            </setting>
            <setting name="AddWatermarkToPDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedSearches" serializeAs="String">
                <value />
            </setting>
            <setting name="Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="DLIServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAdvancedPdfOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreatePDFUseOriginalImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreatePDFScaleImage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CreatePDFImageQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SearchLanguage" serializeAs="String">
                <value>Sanskrit</value>
            </setting>
            <setting name="DeleteImagesAfterPDFCreation" serializeAs="String">
                <value>True</value>
            </setting>
        </dli_viewer.Properties.Settings>
    </userSettings>
</configuration>